# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage
# production
/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Nueva carpeta/DEPORTIVO/assets/img/examples/clem-onojeghuo.jpg
Nueva carpeta/DEPORTIVO/assets/img/examples/clem-onojegaw.jpg
Nueva carpeta/DEPORTIVO/assets/img/distrito.png
Nueva carpeta/DEPORTIVO/assets/img/deporte.png
Nueva carpeta/DEPORTIVO/assets/img/correr.png
Nueva carpeta/DEPORTIVO/assets/img/city.jpg
Nueva carpeta/DEPORTIVO/assets/img/city-profile.jpg
Nueva carpeta/DEPORTIVO/assets/img/bike.png
Nueva carpeta/DEPORTIVO/assets/img/bicycle.png
Nueva carpeta/DEPORTIVO/assets/img/bg7.jpg
Nueva carpeta/DEPORTIVO/assets/img/bg3.jpg
Nueva carpeta/DEPORTIVO/assets/img/bg2.jpg
Nueva carpeta/DEPORTIVO/assets/img/bg.jpg
Nueva carpeta/bici.geojson
Nueva carpeta/bmx.geojson
Nueva carpeta/DEPORTIVO/.gitattributes
Nueva carpeta/DEPORTIVO/assets/css/material-kit.css
Nueva carpeta/DEPORTIVO/assets/css/material-kit.css.map
Nueva carpeta/DEPORTIVO/assets/css/material-kit.min.css
Nueva carpeta/DEPORTIVO/assets/demo/demo.css
Nueva carpeta/DEPORTIVO/assets/img/andtech.png
Nueva carpeta/DEPORTIVO/assets/img/apple-icon.png
Nueva carpeta/DEPORTIVO/assets/img/astroP.svg
Nueva carpeta/DEPORTIVO/assets/img/examples/cynthia-del-rio.jpg
Nueva carpeta/DEPORTIVO/assets/img/examples/mariya-georgieva.jpg
Nueva carpeta/DEPORTIVO/assets/img/examples/olu-eletu.jpg
Nueva carpeta/DEPORTIVO/assets/img/examples/studio-1.jpg
Nueva carpeta/DEPORTIVO/assets/img/examples/studio-2.jpg
Nueva carpeta/DEPORTIVO/assets/img/examples/studio-3.jpg
Nueva carpeta/DEPORTIVO/assets/img/examples/studio-4.jpg
Nueva carpeta/DEPORTIVO/assets/img/examples/studio-5.jpg
Nueva carpeta/DEPORTIVO/assets/img/faces/avatar.jpg
Nueva carpeta/DEPORTIVO/assets/img/faces/camp.jpg
Nueva carpeta/DEPORTIVO/assets/img/faces/card-profile1-square.jpg
Nueva carpeta/DEPORTIVO/assets/img/faces/card-profile2-square.jpg
Nueva carpeta/DEPORTIVO/assets/img/faces/card-profile4-square.jpg
Nueva carpeta/DEPORTIVO/assets/img/faces/card-profile5-square.jpg
Nueva carpeta/DEPORTIVO/assets/img/faces/card-profile6-square.jpg
Nueva carpeta/DEPORTIVO/assets/img/faces/christian.jpg
Nueva carpeta/DEPORTIVO/assets/img/faces/kendall.jpg
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_badges.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_alerts.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit.scss
Nueva carpeta/DEPORTIVO/assets/js/plugins/nouislider.min.js
Nueva carpeta/DEPORTIVO/assets/js/plugins/moment.min.js
Nueva carpeta/DEPORTIVO/assets/js/plugins/jquery.sharrre.js
Nueva carpeta/DEPORTIVO/assets/js/plugins/bootstrap-datetimepicker.js
Nueva carpeta/DEPORTIVO/assets/js/material-kit.min.js
Nueva carpeta/DEPORTIVO/assets/js/material-kit.js.map
Nueva carpeta/DEPORTIVO/assets/js/material-kit.js
Nueva carpeta/DEPORTIVO/assets/js/core/popper.min.js
Nueva carpeta/DEPORTIVO/assets/js/core/jquery.min.js
Nueva carpeta/DEPORTIVO/assets/js/core/bootstrap-material-design.min.js
Nueva carpeta/DEPORTIVO/assets/img/voley.png
Nueva carpeta/DEPORTIVO/assets/img/tec.png
Nueva carpeta/DEPORTIVO/assets/img/surf.png
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_buttons.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_cards.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_carousel.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_checkboxes.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_core-bootstrap.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_custom-forms.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_drawer.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_dropdown.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_example-pages.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_footers.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_forms.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_headers.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_images.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_info-areas.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_input-group.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_layout.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_list-group.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_misc.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_mixins.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_modal.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_nav.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_navbar.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_pagination.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_pills.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_popover.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_progress.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_radios.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_reboot.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_responsive.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_ripples.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_switches.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_tabs.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_togglebutton.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_tooltip.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_type.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/_variables.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_alert.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_badge.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_breadcrumb.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_button-group.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_buttons.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_card.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_carousel.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_close.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_code.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_custom-forms.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_dropdown.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_forms.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_functions.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_grid.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_images.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_input-group.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_jumbotron.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_list-group.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_media.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_mixins.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_modal.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_nav.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_navbar.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_pagination.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_popover.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_print.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_progress.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_reboot.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_root.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_tables.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_tooltip.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_transitions.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_type.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_utilities.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/_variables.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/bootstrap-grid.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/bootstrap-reboot.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/bootstrap.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_alert.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_background-variant.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_badge.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_border-radius.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_box-shadow.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_breakpoints.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_buttons.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_caret.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_clearfix.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_float.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_forms.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_gradients.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_grid-framework.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_grid.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_hover.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_image.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_list-group.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_lists.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_nav-divider.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_navbar-align.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_pagination.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_reset-text.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_resize.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_screen-reader.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_size.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_table-row.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_text-emphasis.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_text-hide.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_text-truncate.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_transition.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/mixins/_visibility.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_align.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_background.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_borders.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_clearfix.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_display.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_embed.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_flex.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_float.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_position.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_screenreaders.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_sizing.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_spacing.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_text.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/bootstrap/scss/utilities/_visibility.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/cards/_card-carousel.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/cards/_card-login.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/cards/_card-plain.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_alert.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_animations.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_breakpoints.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_buttons.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_colored-shadows.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_drawer.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_forms.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_hover.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_layout.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_navbar-colors.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_navs.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_type.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/mixins/_utilities.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/plugins/_plugin-datetime-picker.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/plugins/_plugin-nouislider.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_body.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_bootstrap-material-design-base.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_bootstrap-material-design.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_brand.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_buttons.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_card.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_carousel.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_code.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_colors-map.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_colors.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_custom-forms.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_drawer.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_dropdown.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_forms.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_layout.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_list-group.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_menu.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_modals.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_nav.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_pagination.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_shadow.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_snackbar.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_spacing.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_state.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_tables.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_tooltip.scss
Nueva carpeta/DEPORTIVO/assets/scss/material-kit/variables/_type.scss
Nueva carpeta/DEPORTIVO/CHANGELOG.md
Nueva carpeta/DEPORTIVO/examples/landing-page.html
Nueva carpeta/DEPORTIVO/examples/login-page.html
Nueva carpeta/DEPORTIVO/examples/profile-page.html
Nueva carpeta/DEPORTIVO/gulpfile.js
Nueva carpeta/DEPORTIVO/index.html
Nueva carpeta/DEPORTIVO/package.json
Nueva carpeta/DEPORTIVO/README.md
Nueva carpeta/Malaga BICI/.gitattributes
Nueva carpeta/Malaga BICI/assets/css/material-kit.css
Nueva carpeta/Malaga BICI/assets/css/material-kit.css.map
Nueva carpeta/Malaga BICI/assets/css/material-kit.min.css
Nueva carpeta/Malaga BICI/assets/demo/demo.css
Nueva carpeta/Malaga BICI/assets/img/andtech.png
Nueva carpeta/Malaga BICI/assets/img/astroP.svg
Nueva carpeta/Malaga BICI/assets/img/bg.jpg
Nueva carpeta/Malaga BICI/assets/img/bg2.jpg
Nueva carpeta/Malaga BICI/assets/img/bg3.jpg
Nueva carpeta/Malaga BICI/assets/img/bg7.jpg
Nueva carpeta/Malaga BICI/assets/img/city-profile.jpg
Nueva carpeta/Malaga BICI/assets/img/city.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/clem-onojegaw.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/clem-onojeghuo.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/cynthia-del-rio.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/mariya-georgieva.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/olu-eletu.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/studio-1.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/studio-2.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/studio-3.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/studio-4.jpg
Nueva carpeta/Malaga BICI/assets/img/examples/studio-5.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/avatar.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/camp.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/card-profile1-square.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/card-profile2-square.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/card-profile4-square.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/card-profile5-square.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/card-profile6-square.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/christian.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/kendall.jpg
Nueva carpeta/Malaga BICI/assets/img/faces/marc.jpg
Nueva carpeta/Malaga BICI/assets/img/landing.jpg
Nueva carpeta/Malaga BICI/assets/img/logo.png
Nueva carpeta/Malaga BICI/assets/img/logoUni.png
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/tec.iml
.idea/vcs.xml
.idea/workspace.xml
package-lock.json
